.planets h2{
  margin-bottom: 20px
}

.planets h1{
  /* margin: 50px; */
  /* display:table;
  vertical-align:middle; */
}

.residents {
  display:table;
  /* vertical-align:middle; */
  margin: 50px;
  color: #FFE81F;
  /* background-color: aqua; */
}

.residents ul
{
  list-style-type: none;
  padding: 0;
}

.residentLink
 {
  text-decoration: none;
  all: unset;
  display:table;
  vertical-align:middle;
  font-size: 1.1em;
  background-color:  #FFE81F;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}



.residents li
 {
  display:table;
  vertical-align:middle;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}
.planets{
  min-height: 100vh;
  height: 100%;

  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  background-color: #000000;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;


}

/* .generalInfo {
  display: flex;
  justify-content: space-around;
  border: 20px;
}


.generalInfo p {
  padding: 20px;
  color: var(--dark2);
  background-color: var(--light2);
}

.generalInfo span {
  font-weight: bold;
  font-size: 1.1em;
} */
